// variables

$color-principal: #35BFFE;
$color-secundario: #FE6A2A;
$color-hover: #31A9DF;
$color-hover-2: #E75F25;
$color-boton-3: #22EE33;

// mixin

@mixin fonts ($weight, $size, $color){
    font-weight: $weight;
    font-size: $size;
    color: $color;
}



